<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Key Creation</title>
</head>
<body>
    <form action="/key_init/browser" method="post">
        <label for="firstEmail">First key component custodian email:</label>
        <div><input type="email" id="firstEmail" name="email1"></div>
        <label for="secondEmail">Second key component custodian email:</label>
        <div><input type="email" id="secondEmail" name="email2"></div>
        <div><input type="submit" value="CREATE KEY"></div>
    </form>
</body>
</html>